<div style="overflow-x: auto;">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>
            <h2>{{column | titlecase}}</h2>
        </th>
        <div *ngIf="column !== 'Actions'">
            <td mat-cell *matCellDef="let element">{{element[column]}}</td>
        </div>
        <div>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngTemplateOutlet="actionsTemp; context: { element: element }"></ng-container>
            </td>
        </div>
    </ng-container>
    <ng-template style="justify-content: center; display: flex;" #actionsTemp let-element="element">
        <button class="blueButton" mat-button (click)="onClick(element)">Edit</button>
        <button class="redButton" mat-button (click)="onDelete(element)">Delete</button>
    </ng-template>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
